body{
background-image:url("images/wp.jpg");
background-size: 100% 100%;
min-width:770px;
color:white;
}

div#form {
	font-size:30px;
	margin-top:20%;
	min-width: 500px;
	min-height: 230px;
    background-color: #000000;
    border: 1px solid green;
    opacity: 0.6;
    filter: alpha(opacity=60); /
	
} 