body{
background-image:url("images/wp.jpg");
background-size: 100% 100%;
min-width:770px;
color:white;
font-family:Copperplate / Copperplate Gothic Light, sans-serif;
}

/* prozra4na kutiq
div#form {
	font-size:30px;
	margin-top:20%;
	min-width: 500px;
	min-height: 230px;
    background-color: #000000;
    border: 1px solid green;
    opacity: 0.6;
    filter: alpha(opacity=60); /
	
} 

*/

.button {
background:linear-gradient(to top, black,#009ACD); 
border: 2px solid black;
font-weight: bold;
color:white;
text-decoration:none;
font-size: 23px;
border-radius:5px;
width:317px;
padding:5px;
font-family:Copperplate / Copperplate Gothic Light, sans-serif;
}

.button:hover {
background:linear-gradient(to bottom,black ,#009ACD ); 
border: 2px solid black;
color:white;
cursor: pointer;
}

