body{
background-image:url("images/wp.jpg");
background-size: 100% 100%;
min-width:770px;
color:white;
}
#form{
font-size:30px;
margin-top:20%;
}

.button {
background:linear-gradient(to top, black,#009ACD); 
border: 2px solid black;
font-weight: bold;
color:white;
text-decoration:none;
font-size: 17px;
border-radius:5px;
width:100px;
padding:5px;
 font-family: Comic Sans MS;
}

.button:hover {
background:linear-gradient(to bottom,black ,#009ACD ); 
border: 2px solid black;
color:white;
cursor: pointer;
}
