body{
background-image:url("images/wp.jpg");
background-size: 100% 100%;
min-width:770px;
color:white;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
}
#form{
font-size:30px;
margin-top:20%;
}

.button {
display:inline;
position:relative;
float:right; 
background:linear-gradient(to top, black,#009ACD); 
border: 2px solid black;
color:white;
text-decoration:none;
font-size: 17px;
border-radius:5px;
width:100px;
padding:2px;
font-family: Comic Sans MS;
}

.button:hover {
background:linear-gradient(to bottom,black ,#009ACD ); 
border: 2px solid black;
color:white;
cursor: pointer;
}

/* MENU */

#menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  position: relative;
  display: block;
  font-size: 20px;
  background: #000000;
  background-color:rgba(0,0,0,0.8);
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid skyblue;
}
#menu ul:before {
  content: '';
  display: block;
}
#menu ul:after {
  content: '';
  display: table;
  clear: both;
}
#menu li {
  display: block;
  float: left;
  margin: 0;
  padding: 0 3px;
}
#menu li a {
  display: block;
  float: left;
  color: white;
  text-decoration: none;
  padding: 11px 20px 8px 20px;
 
}
#menu li a:hover {
  color: black;
  background:#009ACD; 
}
#menu li.active a {
  display: inline;
  background:linear-gradient(to bottom,black ,#009ACD ); 
  color:black;
  float: left;
  margin: 0;
}

/* MENU */

/* TABLE */


.CSSTableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
	width:60%;
	height:10%;
	margin:0px;
	padding:0px;
}

.CSSTableGenerator tr:nth-child(odd){
background-color:rgba(30,40,50,0.6);
 }
.CSSTableGenerator tr:nth-child(even){
 background-color:rgba(0,0,0,0.6);
}
.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:1px 1px 1px 1px;
	text-align:left;
	padding:7px;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	color:white;
}
.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #009ACD 5%, black 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #009ACD), color-stop(1, black) );
	background:-moz-linear-gradient( center top, #009ACD 5%, black 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#009ACD", endColorstr="black");
	background: -o-linear-gradient(top,#009ACD,black);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 1px 0px 1px;
	font-size:18px;
	font-family:Arial;
	font-weight:normal;
	color:#ffffff;
}
/* hover 
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;
}

hover */

/* TABLE */
